
.IconBubble {
    position:absolute;
    top: 12px;
    right:40px;
    background-color:darkgray;
    color:white;
    font-weight:bold;
    font-size:0.55em;
    height: 22px;
    width: 22px;
    border-radius:11px;
    box-shadow:1px 1px 1px gray;
}
.fix {
    margin-top: 10px
}
.page-content {
    text-align: center;
}

body {
    color: gray;
    margin: 0;
    padding: 0;
}
.main_header {
    margin: 0;
    padding: 0;
}

.ImageHeader {
    width: 100%;
}

.TextFull {
    padding: 30px;
    color: white;
    background-color: #959090;
}

.ImageHeader1 {
    transform: rotate(0deg);
    align-self: center;
    transform: translateY(-300px);
}

.background {
    background-color: lightgray;
    margin: 0;
    padding: 0;
    width: 50%;
}
